.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  .nav-bar__links {
    gap: 2.5rem;
    display: flex;
    align-items: stretch;
    position: relative;
    li {
      display: flex;
      align-items: stretch;
      a {
        display: inline-flex;
        align-items: center;
        line-height: normal;
        &.nuxt-link-exact-active {
          color: map-get($color-map, primary);
        }
      }
    }

    .selected-indicator {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 2px;
      background-color: map-get($color-map, primary);
      border-radius: 5px;
      transition: 0.2s ease left;
    }

    .download-resume {
      i {
        display: inline-block;
        transform: rotate(180deg);
      }
      &:hover {
        color: map-get($color-map, primary);
      }
    }
  }
}
