.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 2rem 4rem;
  .nav-bar__links {
    gap: 2.5rem;
    li {
      &:hover {
        border-bottom: 1px solid map-get($color-map, primary);
      }
      a {
        &.nuxt-link-exact-active {
          color: map-get($color-map, primary);
        }
      }
    }
  }
}
