.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  .nav-bar__links {
    gap: 2.5rem;
    display: flex;
    align-items: center;
    li {
      &::after {
        content: '';
        display: block;
        height: 2px;
        width: 0%;
        background: map-get($color-map, primary);
        transition: width 0.5s ease;
      }
      &:hover::after {
        width: 100%;
      }
      a {
        &.nuxt-link-active:not(.home-link) {
          color: map-get($color-map, primary);
        }
        &.home-link.nuxt-link-exact-active {
          color: map-get($color-map, primary);
        }
      }
    }

    .download-resume {
      i {
        display: inline-block;
        transform: rotate(180deg);
      }
      &:hover {
        color: map-get($color-map, primary);
      }
    }
  }
}
