.social-icons {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  gap: 2rem;
  font-size: 1.5rem;
  transition: all 0.5s ease-in;

  li {
    a {
      &:hover {
        color: map-get($color-map, primary);
      }
    }
  }
  &.enlarge {
    font-size: 2.5rem;
    right: 15%;
    bottom: 50%;
  }
}
