.about {
  height: 100%;
  width: 100%;
  padding: 8rem 15%;
  padding-top: 7rem;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: space-around;
    span {
      text-decoration: underline;
    }
  }

  &__main {
    font-size: 1.2rem;

    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__image {
      align-self: center;
      justify-self: center;
      width: 70%;
      border-radius: 50%;
      user-select: none;
      border: 30px solid map-get($color-map, primary);
    }
  }

  &__footer {
    &__contact {
      font-size: 1.5rem;
    }
  }

  &-skills {
    span {
      background-color: #ffca8350;
      font-size: 1rem;
      border-radius: 3px;
      padding: 0.1rem 0.3rem;
      white-space: nowrap;
      margin-right: 0.5rem;
    }
  }
}
