.about {
  height: 100%;
  width: 100%;
  padding: 5.5rem 15%;
  display: flex;

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      li {
        text-align: center;
        display: flex;
        margin-bottom: 1rem;

        a {
          padding: 0.5rem 2rem;
          transition: 0.2s ease-in color;
          &.nuxt-link-exact-active {
            color: map-get($color-map, primary);
          }
        }

        &:hover {
          a {
            color: map-get($color-map, primary);
          }
        }
      }

      .selected-indicator {
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 40px;
        background-color: map-get($color-map, primary);
        border-radius: 5px;
        transition: 0.2s ease top;
      }
    }

    .download-resume {
      align-self: flex-end;
      i {
        display: inline-block;
        transform: rotate(180deg);
      }
      &:hover {
        color: map-get($color-map, primary);
      }
    }
  }

  &__content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    &__route {
      height: 100%;
      border: 1px solid white;
    }
  }
}
