.home {
  width: 100%;
  height: 100%;
  padding: 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__name {
      font-size: 3rem;
    }

    &__head {
      opacity: 0.9;
      font-size: 2rem;
    }

    &__action {
      user-select: none;
      button:hover {
        border-color: map-get($color-map, secondary);
        i {
          color: map-get($color-map, primary);
        }
      }
    }
  }

  &__image {
    align-self: center;
    justify-self: center;
    width: 100%;
    user-select: none;
  }
}
